<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="name.tanglei.www"
      android:versionCode="1"
      android:versionName="0.000002">
     
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- android:theme="@android:style/Theme.Black" -->
    <application 
        android:icon="@drawable/ic_lancher" 
        android:allowBackup="true"
        android:theme="@style/AppThemeDark"
        android:label="@string/app_name">
		
        <receiver android:name=".AlarmReceiver" 
                    android:exported="false"
                    android:enabled="true">
        </receiver>
        
        <receiver android:name=".BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <activity android:name=".FlightModeSwitcher"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ReceivedAction"
                   android:theme="@android:style/Theme.NoTitleBar"
                  />
        
    </application>

	
</manifest> 